.container {
	max-width: 800px;
	margin: 0 auto;
	text-align: center;
	padding: 1em;
}

h1 {
	font-size: 3em;
	margin-bottom: 0.5em;
	color: #00d9ff;
	text-shadow: 2px 2px #333333;
}

table {
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 1em;
}

th,
td {
	border: 1px solid #ddd;
	padding: 8px;
	text-align: left;
	font-size: 1.2em;
}

th {
	background-color: #f2f2f2e1;
}
